/* FONT */
h1
{
	font-size: 3em;
	color: #1258fd;
	font-weight: bold;
	margin-bottom: 0em;
}
h2
{
	font-size: 2.5em;
	color: #1258fd;
	font-weight: bold;
}
h3
{
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}
p, li
{
	font-size: 1.2em;
}
a
{
	text-decoration:none;
	color: #1258fd;
	font-weight: bold;
}





/* HEADER */
header
{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#upper-bar
{
	width: 100%;
	background-color: white;
	text-align: center;
	border-bottom:solid grey 0.05em;
	color: red;
}
#top-bar
{
	width: 100%;
	border-bottom: 0.1em solid black;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
}
#top-bar a
{
	font-size: 1.2em;
}
#top-bar p 
{
	color: black;
	font-size: 1.2em;
}
#logo-top-bar
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#title-top-bar
{
	display: flex;
	flex-direction: row;
	align-items: center;	
	justify-content: center;
}
nav 
{
	margin: 1em;
	min-width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
nav .button
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	max-width: 20em;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 1em;
}
#home
{
	display: flex;
	flex-direction: row;
	align-items: center;
}
#name-and-firstname
{
	display: flex;
	flex-direction: column;
	padding: 0;
	max-height: 3em;
	cursor: pointer;
}
#name-and-firstname:hover #home-menu
{
	display:block;
	position: relative;
	z-index: 10;
}
#home-menu
{
	display: none;
	width: 100%;
}
#home-menu a
{
	border:solid grey 0.05em;
	background-color: #1258fd;
	color:white;
	display: block;
	padding: 0.5em;
	text-align: center;
}
#home-menu a:hover
{
	background-color:white;
	color: #1258fd;
}

/* STRUCTURE */
html
{
	height: 100%;
	width: 100%;
}
body
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0em;
	background-color: #91B1FF;
}
main
{
	width: 100%;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}







/* FORMS */
.form
{
	width:40%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	margin:1em;
	padding: 1em;
	border-radius: 3em;
}
.form h2
{
	text-align: center;
}
fieldset
{
	border: none;
}
textarea
{
	min-width: 100%;
}
input[type="submit"]{
cursor:pointer;
}
.secret-question
{
	max-width: 17em;
	word-wrap: break-word;
}
/* Texts validity checking */
.check-message
{
	text-align: center;
	width: 80%;
}
.invalid
{
	color:red;
}
.modified
{
	color:green;
}





/* BUTTONS */
.button
{
	background-color: #1258fd;
	border: solid #1258fd 0.2em;
	border-radius: 1em;
	padding : 0.5em 0.8em 0.5em 0.8em;
	color: white;
	text-align: center;
}
.button:hover
{
	background-color: white;
	color: #1258fd;
}
.square-button
{
	background-color: #1258fd;
	border: solid #1258fd 0.2em;
	padding : 0.1em 0.2em 0.1em 0.2em;
	color: white;
	text-align: center;
}
#buttons-group
{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 2em;
}
#unsubscribe:hover
{
	background-color: red;
	color: white;
	border-color: red;
}




/* HOME PAGE */
#banner
{
	width: 100%;
	display: flex;
	flex-direction: column; 
	justify-content: space-around;
	align-items: center;
	padding:0;
	background-color: white;
}
#banner p
{
	font-size: 1.5em;
}
#banner-image
{
	width: 100%;
	min-height: 20em;
	background-image: url("../img/gbaf_banner.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	background-attachment: fixed;
	margin:0;
}
#actors-presentation
{
	padding:1em;
}
#actors
{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5em;
	background-color: white;
}
#actors article
{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border : solid black 0.1em;
	border-radius: 0.2em;
	margin: 1em;
	padding: 0.5em;
}
#actors img
{
	max-width:10em;
}
#actors article div:nth-child(1)
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#actors article div:nth-child(2)
{
	height: 100%;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#actors article div:nth-child(2) h3, #actors article div:nth-child(2) p 
{
	margin: 0.2em 0em 0.2em 0em;
}
#actors article div:nth-child(3)
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
#actors div:nth-child(3) a
{
	text-align: center;
	color: white;
	background-color: #1258fd;
	border-radius: 0.5em;
	padding: 0.5em;
}
#actors div:nth-child(3) a:hover
{
	background-color: red;
}





/* ACTOR PAGE */
.actor
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#actor-image
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#comments
{
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #91B1FF;
	padding: 1em;
	border-radius: 1em;
	margin: 2em;
}
#comments-and-likes
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	width: 100%;
	height: 2em;
	border-radius: 1em;
	font-size: 1.5em;
}
#comments-number
{
	width: 30%;
	text-align: center;
}
#likesDislikes
{
	text-align: center;
}
#likesDislikes img
{
	max-height:0.9em;
}
#comments form
{
	width: 100%;
	align-items: center;
}

#comments-table
{
	width: 100%;
	border:solid black 0.05em;
}
.white-comment
{
	background-color: white;
	padding:0.5em;
}
.grey-comment
{
	background-color: #D9D9D9;
	padding: 0.5em;
}
.white-comment p, .grey-comment p
{
	margin:0;
}

#current-password
{
	border-bottom: solid black 0.1em;
}




/* FOOTER */
footer
{
	width: 100%;
	min-height: 5em;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
footer p
{
	font-weight: normal;
	font-size: 1em;
}
footer a 
{
	color: black;
	margin: 0em 2em 0em 2em;
}